{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}
<div class="breadcumb-wrapper" data-bg-src="{{ url_for('static', filename='img/bg/breadcumb-bg.jpg') }}">
  <div class="container">
    <div class="breadcumb-content">
      <h1 class="breadcumb-title">Destination</h1>
      <ul class="breadcumb-menu">
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li>Destination</li>
      </ul>
    </div>
  </div>
</div>
<section class="space">
  <div class="container">
    <div class="th-sort-bar">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-4">
          <div class="search-form-area">
            <form class="search-form">
              <input type="text" placeholder="Search" />
              <button type="submit">
                <i class="fa-light fa-magnifying-glass"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="sorting-filter-wrap">
            <span>sortby</span>
            <div class="nav" role="tablist">
              <a
                class="active"
                href="#"
                id="tab-destination-grid"
                data-bs-toggle="tab"
                data-bs-target="#tab-grid"
                role="tab"
                aria-controls="tab-grid"
                aria-selected="true"
                ><i class="fa-light fa-grid-2"></i
              ></a>
              <a
                href="#"
                id="tab-destination-list"
                data-bs-toggle="tab"
                data-bs-target="#tab-list"
                role="tab"
                aria-controls="tab-list"
                aria-selected="false"
                class=""
                ><i class="fa-solid fa-list"></i
              ></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-9 col-lg-8">
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade active show"
            id="tab-grid"
            role="tabpanel"
            aria-labelledby="tab-destination-grid"
          >
            <div class="row gy-30">
              {% for destination in destinations %}
                <div class="col-xxl-4 col-xl-6">
                  <div class="tour-box th-ani">
                    <div class="tour-box_img global-img" style="height: 191px;">
                      <a href="{{ url_for('main.destination_detail', id=destination.id) }}">
                        <img src="{{ url_for('static', filename='uploads/destinations/' + destination.main_image) }}" alt="image" />
                      </a>
                    </div>
                    <div class="tour-content">
                      <h3 class="box-title">
                       
                          <a href="{{ url_for('main.destination_detail', id=destination.id) }}">{{destination.destination}}</a>
                        
                      </h3>
                      <div class="tour-rating">
                        <div class="star-rating"  role="img" aria-label="Rated 3.00 out of 5" >
                          <span style="width:  {{ destination.rating * 20   }}%;">
                            Rated 
                            <strong class="rating">5.00</strong> 
                            out of 5 based on 
                            <span class="rating">4.8</span>
                            (4.8 Rating)
                          </span>
                        </div>
                        <a class="woocommerce-review-link">(<span class="count">{{destination.rating}}</span>
                           Rating)
                        </a>
                      </div>
                      <h4 class="tour-box_price">
                        <span class="currency">₹{{destination.price}}.00</span>/Person
                      </h4>
                      <div class="tour-action">
                        <span><i class="fa-light fa-clock"></i>{{destination.days}} Days</span>
                        <a href="{{ url_for('main.destination_detail', id=destination.id) }}" class="th-btn style4 th-icon">Book Now</a>

                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="tab-list"
            role="tabpanel"
            aria-labelledby="tab-destination-list"
          >
            <div class="row gy-30">
              <div class="col-12">
                <div class="tour-box style-flex th-ani">
                  <div class="tour-box_img global-img">
                    <img src="static/img/tour/tour_3_1.jpg" alt="image" />
                  </div>
                  <div class="tour-content">
                    <h3 class="box-title">
                      <a >Dubai</a>
                    </h3>
                    <div class="tour-rating">
                      <div
                        class="star-rating"
                        role="img"
                        aria-label="Rated 5.00 out of 5"
                      >
                        <span style="width: 100%;"
                          >Rated <strong class="rating">5.00</strong> out of
                          5 based on <span class="rating">4.8</span>(4.8
                          Rating)</span
                        >
                      </div>
                      <a
                        
                        class="woocommerce-review-link"
                        >(<span class="count">4.8</span> Rating)</a
                      >
                    </div>
                    <h4 class="tour-box_price">
                      <span class="currency">$980.00</span>/Person
                    </h4>
                    <div class="tour-action">
                      <span><i class="fa-light fa-clock"></i>7 Days</span>
                      <a  class="th-btn style4 th-icon"
                        >Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="tour-box style-flex th-ani">
                  <div class="tour-box_img global-img">
                    <img src="static/img/tour/tour_3_2.jpg" alt="image" />
                  </div>
                  <div class="tour-content">
                    <h3 class="box-title">
                      <a >Italy</a>
                    </h3>
                    <div class="tour-rating">
                      <div
                        class="star-rating"
                        role="img"
                        aria-label="Rated 5.00 out of 5"
                      >
                        <span style="width: 100%;"
                          >Rated <strong class="rating">5.00</strong> out of
                          5 based on <span class="rating">4.8</span>(4.8
                          Rating)</span
                        >
                      </div>
                      <a
                        
                        class="woocommerce-review-link"
                        >(<span class="count">4.8</span> Rating)</a
                      >
                    </div>
                    <h4 class="tour-box_price">
                      <span class="currency">$880.00</span>/Person
                    </h4>
                    <div class="tour-action">
                      <span><i class="fa-light fa-clock"></i>7 Days</span>
                      <a  class="th-btn style4 th-icon"
                        >Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="tour-box style-flex th-ani">
                  <div class="tour-box_img global-img">
                    <img src="static/img/tour/tour_3_3.jpg" alt="image" />
                  </div>
                  <div class="tour-content">
                    <h3 class="box-title">
                      <a >France</a>
                    </h3>
                    <div class="tour-rating">
                      <div
                        class="star-rating"
                        role="img"
                        aria-label="Rated 5.00 out of 5"
                      >
                        <span style="width: 100%;"
                          >Rated <strong class="rating">5.00</strong> out of
                          5 based on <span class="rating">4.8</span>(4.8
                          Rating)</span
                        >
                      </div>
                      <a
                        
                        class="woocommerce-review-link"
                        >(<span class="count">4.8</span> Rating)</a
                      >
                    </div>
                    <h4 class="tour-box_price">
                      <span class="currency">$680.00</span>/Person
                    </h4>
                    <div class="tour-action">
                      <span><i class="fa-light fa-clock"></i>7 Days</span>
                      <a  class="th-btn style4 th-icon"
                        >Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="tour-box style-flex th-ani">
                  <div class="tour-box_img global-img">
                    <img src="static/img/tour/tour_3_4.jpg" alt="image" />
                  </div>
                  <div class="tour-content">
                    <h3 class="box-title">
                      <a >Maldives</a>
                    </h3>
                    <div class="tour-rating">
                      <div
                        class="star-rating"
                        role="img"
                        aria-label="Rated 5.00 out of 5"
                      >
                        <span style="width: 100%;"
                          >Rated <strong class="rating">5.00</strong> out of
                          5 based on <span class="rating">4.8</span>(4.8
                          Rating)</span
                        >
                      </div>
                      <a
                        
                        class="woocommerce-review-link"
                        >(<span class="count">4.8</span> Rating)</a
                      >
                    </div>
                    <h4 class="tour-box_price">
                      <span class="currency">$580.00</span>/Person
                    </h4>
                    <div class="tour-action">
                      <span><i class="fa-light fa-clock"></i>7 Days</span>
                      <a  class="th-btn style4 th-icon"
                        >Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="tour-box style-flex th-ani">
                  <div class="tour-box_img global-img">
                    <img src="static/img/tour/tour_3_5.jpg" alt="image" />
                  </div>
                  <div class="tour-content">
                    <h3 class="box-title">
                      <a >Belgium</a>
                    </h3>
                    <div class="tour-rating">
                      <div
                        class="star-rating"
                        role="img"
                        aria-label="Rated 5.00 out of 5"
                      >
                        <span style="width: 100%;"
                          >Rated <strong class="rating">5.00</strong> out of
                          5 based on <span class="rating">4.8</span>(4.8
                          Rating)</span
                        >
                      </div>
                      <a
                        
                        class="woocommerce-review-link"
                        >(<span class="count">4.8</span> Rating)</a
                      >
                    </div>
                    <h4 class="tour-box_price">
                      <span class="currency">$480.00</span>/Person
                    </h4>
                    <div class="tour-action">
                      <span><i class="fa-light fa-clock"></i>7 Days</span>
                      <a  class="th-btn style4 th-icon"
                        >Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="tour-box style-flex th-ani">
                  <div class="tour-box_img global-img">
                    <img src="static/img/tour/tour_3_6.jpg" alt="image" />
                  </div>
                  <div class="tour-content">
                    <h3 class="box-title">
                      <a >Brazil</a>
                    </h3>
                    <div class="tour-rating">
                      <div
                        class="star-rating"
                        role="img"
                        aria-label="Rated 5.00 out of 5"
                      >
                        <span style="width: 100%;"
                          >Rated <strong class="rating">5.00</strong> out of
                          5 based on <span class="rating">4.8</span>(4.8
                          Rating)</span
                        >
                      </div>
                      <a
                        
                        class="woocommerce-review-link"
                        >(<span class="count">4.8</span> Rating)</a
                      >
                    </div>
                    <h4 class="tour-box_price">
                      <span class="currency">$380.00</span>/Person
                    </h4>
                    <div class="tour-action">
                      <span><i class="fa-light fa-clock"></i>7 Days</span>
                      <a  class="th-btn style4 th-icon"
                        >Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="tour-box style-flex th-ani">
                  <div class="tour-box_img global-img">
                    <img src="static/img/tour/tour_3_7.jpg" alt="image" />
                  </div>
                  <div class="tour-content">
                    <h3 class="box-title">
                      <a >Spain</a>
                    </h3>
                    <div class="tour-rating">
                      <div
                        class="star-rating"
                        role="img"
                        aria-label="Rated 5.00 out of 5"
                      >
                        <span style="width: 100%;"
                          >Rated <strong class="rating">5.00</strong> out of
                          5 based on <span class="rating">4.8</span>(4.8
                          Rating)</span
                        >
                      </div>
                      <a
                        
                        class="woocommerce-review-link"
                        >(<span class="count">4.8</span> Rating)</a
                      >
                    </div>
                    <h4 class="tour-box_price">
                      <span class="currency">$580.00</span>/Person
                    </h4>
                    <div class="tour-action">
                      <span><i class="fa-light fa-clock"></i>7 Days</span>
                      <a  class="th-btn style4 th-icon"
                        >Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="tour-box style-flex th-ani">
                  <div class="tour-box_img global-img">
                    <img src="static/img/tour/tour_3_8.jpg" alt="image" />
                  </div>
                  <div class="tour-content">
                    <h3 class="box-title">
                      <a >Greece</a>
                    </h3>
                    <div class="tour-rating">
                      <div
                        class="star-rating"
                        role="img"
                        aria-label="Rated 5.00 out of 5"
                      >
                        <span style="width: 100%;"
                          >Rated <strong class="rating">5.00</strong> out of
                          5 based on <span class="rating">4.8</span>(4.8
                          Rating)</span
                        >
                      </div>
                      <a
                        
                        class="woocommerce-review-link"
                        >(<span class="count">4.8</span> Rating)</a
                      >
                    </div>
                    <h4 class="tour-box_price">
                      <span class="currency">$680.00</span>/Person
                    </h4>
                    <div class="tour-action">
                      <span><i class="fa-light fa-clock"></i>7 Days</span>
                      <a  class="th-btn style4 th-icon"
                        >Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="tour-box style-flex th-ani">
                  <div class="tour-box_img global-img">
                    <img src="static/img/tour/tour_3_9.jpg" alt="image" />
                  </div>
                  <div class="tour-content">
                    <h3 class="box-title">
                      <a >Newziland</a>
                    </h3>
                    <div class="tour-rating">
                      <div
                        class="star-rating"
                        role="img"
                        aria-label="Rated 5.00 out of 5"
                      >
                        <span style="width: 100%;"
                          >Rated <strong class="rating">5.00</strong> out of
                          5 based on <span class="rating">4.8</span>(4.8
                          Rating)</span
                        >
                      </div>
                      <a
                        
                        class="woocommerce-review-link"
                        >(<span class="count">4.8</span> Rating)</a
                      >
                    </div>
                    <h4 class="tour-box_price">
                      <span class="currency">$780.00</span>/Person
                    </h4>
                    <div class="tour-action">
                      <span><i class="fa-light fa-clock"></i>7 Days</span>
                      <a  class="th-btn style4 th-icon"
                        >Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="th-pagination text-center mt-60 mb-0">
          <ul>
            <li><a class="active" >1</a></li>
            <li><a >2</a></li>
            <li><a >3</a></li>
            <li><a >4</a></li>
            <li>
              <a class="next-page" 
                >Next <img src="static/img/icon/arrow-right4.svg" alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xxl-3 col-lg-4">
        <aside class="sidebar-area style2">
          <div class="widget widget_categories">
            <h3 class="widget_title">Categories</h3>
            <ul>
              <li>
                <a 
                  ><img src="static/img/theme-img/map.svg" alt="" />City
                  Tour</a
                >
                <span>(8)</span>
              </li>
              <li>
                <a 
                  ><img src="static/img/theme-img/map.svg" alt="" />Beach
                  Tours</a
                >
                <span>(6)</span>
              </li>
              <li>
                <a 
                  ><img src="static/img/theme-img/map.svg" alt="" />Wildlife
                  Tours</a
                >
                <span>(2)</span>
              </li>
              <li>
                <a 
                  ><img src="static/img/theme-img/map.svg" alt="" />News &
                  Tips</a
                >
                <span>(7)</span>
              </li>
              <li>
                <a 
                  ><img
                    src="static/img/theme-img/map.svg"
                    alt=""
                  />Adventure Tours</a
                >
                <span>(9)</span>
              </li>
              <li>
                <a 
                  ><img src="static/img/theme-img/map.svg" alt="" />Mountain
                  Tours</a
                >
                <span>(10)</span>
              </li>
            </ul>
          </div>
          
          <div class="widget widget_tag_cloud">
            <h3 class="widget_title">Popular Tags</h3>
            <div class="tagcloud">
              <a >Tour</a>
              <a >Adventure</a>
              <a >Rent</a> <a >Innovate</a>
              <a >Hotel</a> <a >Modern</a>
              <a >Luxury</a> <a >Travel</a>
            </div>
          </div>
          <div
            class="widget widget_offer"
            data-bg-src="static/img/bg/widget_bg_1.jpg"
          >
            <div class="offer-banner">
              <div class="offer">
                <h6 class="box-title">
                  Need Help? We Are Here To Help You
                </h6>
                <div class="banner-logo">
                  <img src="static/img/logo2.svg" alt="Tourm" />
                </div>
                <div class="offer">
                  <h6 class="offer-title">You Get Online support</h6>
                  <a class="offter-num" href="+256214203215"
                    >+256 214 203 215</a
                  >
                </div>
                <a  class="th-btn style2 th-icon"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>


{% endblock content %}