{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-xl-6">
      <div
        class="tab-pane fade active show"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
      >
        <h3 class="th-form-title mb-30">Login your account</h3>
        <form id="register-form" class="login-form" action='/login' method='POST'>

          <div class="row">

            {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
                <div id="flash-messages">
                  {% for category, message in messages %}
                    {% if category == 'success' %}
                      <div class="alert alert-success" style="color: #fff;background-color: #05a35c;" role="alert">
                        Your Account Successfully Created Please Login..! 
                      </div>
                    {% elif category == 'error' %}
                        <div class="alert alert-danger" style="color: #fff;background-color: #ff1919c9;" role="alert">
                          Please Check Your Mobile No & Password..!
                        </div>
                      
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            
        

            <div class="form-group col-12">
              <label for="mobile_number">Mobile Number</label>
              <input
                type="text"
                class="form-control"
                name="mobile_number"
                required
              />
            </div>
           
            <div class="form-group col-12">
              <label for="password">Password*</label>
              <input
                type="password"
                class="form-control"
                name="password"
                required
              />
            </div>
            <div class="form-btn mt-20 col-12">
              <button type="submit" class="th-btn btn-fw th-radius2">
                Login
              </button>
            </div>
          </div>
          <p class="form-messages mb-0 mt-3"></p>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
